{{- define "main" }}
{{- $paginator := .Paginate .Pages }}
{{ $dateformat := .Params.DateFormat }}

<article class="post-single">
    <header class="page-header">
        <h1>
            {{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
        </h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
    </header>

    <div class="post-content">
        <div class="pe-moments">
            <ul>
                {{- range $moment := $paginator.Pages }}
                {{- if .Content }}
                <li class="pe-moment">
                    <img src="{{ site.Params.label.icon }}" alt="{{ site.Params.author }}">
                    <div class="pe-moment-body">
                        <div class="pe-moment-content">
                            {{ .Content }}
                        </div>
                        {{ if .Params.tags }}
                        <div class="pe-moment-tags">
                            {{- range $index, $tag := (.Params.tags) }}
                            <span class="pe-moment-tag">{{ $tag }}</span>
                            {{- end }}
                        </div>
                        {{ end }}
                        
                    </div>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>

</article>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
    <nav class="pagination">
        {{- if $paginator.HasPrev }}
        <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
            {{ i18n "prev_page" }}
            {{- if (.Param "ShowPageNums") }}
            {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
            {{- end }}
        </a>
        {{- end }}
        {{- if $paginator.HasNext }}
        <a class="next" href="{{ $paginator.Next.URL | absURL }}">
            {{- i18n "next_page" }}
            {{- if (.Param "ShowPageNums") }}
            {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
            {{- end }}
        </a>
        {{- end }}
    </nav>
</footer>
{{- end }}

{{- end }}{{/* end main */}}