.list {
    background: #ffffff;
}

.page-header {
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pe-moment {
    padding: 1rem 0;
    gap: .1rem;
    align-items: flex-start;
    display: flex;
    border-bottom: 1px;
}

.pe-moments li {
    border-bottom: 1px solid #d6d6d6;
}

.pe-moments img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0;
}

.pe-moments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pe-moment-body {
    margin-left: 1.5rem;
    width: 100%;
    overflow: hidden;
}

.pe-moment-content {
    margin-bottom: 1.0rem;
}

.pe-moment-tag {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 0.875em;
    line-height: 0.8;
    color: #999999; /* 暗色字体 */
    background-color: #f0f0f0; /* 浅色背景 */
    border-radius: 0.5rem;
}

.dark .pe-moment-tag {
    background-color: #333; /* 暗色背景 */
}

.pe-moment-time {
    display: inline-block;
    color: #999999;
}

.page-footer {
    margin-top: 2rem;
}