//github
.github {
    border: 1px solid var(--card-text-color-main);
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    .github-icon {
      width: 1.2em;
      height: 1.2em;
      margin-right: 0.5em;
      margin-bottom: 0.2em;
      fill: var(--card-text-color-main);
      transition: all 0.5s;
    }
    .name {
      font-weight: bold;
      color: #2e97d9;
      text-decoration: underline;
      margin-left: 0.5em;
      position: relative;
    }
    .description {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: var(--card-text-color-main);
      text-align: justify;
      font-size: 90%;
      transition: all 0.5s;
    }
    .language-color {
      position: relative;
      top: 1px;
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
    }
    .language-name {
      color: var(--card-text-color-main);
      font-size: 90%;
      margin-left: 0.5em;
      transition: all 0.5s;
    }
}  
